<!DOCTYPE html>
    <html lang="en">
    <body style="font-family: Arial, sans-serif; color: #333; background-color: #f4f4f9; margin: 0; padding: 0;">
        <div style="max-width: 600px; margin: 50px auto; background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
            <h1 style="color: rgb(4, 4, 132);">Password Reset Request</h1>
            <p style="font-size: 16px; line-height: 1.5;">Hello,</p>
            <p style="font-size: 16px; line-height: 1.5;">We received a request to reset your password. If you didn't make this request, you can safely ignore this email. 
                To reset your password, please use the following token:</p>
            
            <small style="display: inline-block; padding: 10px 20px; background-color: blue; color: white; font-size: 16px; text-decoration: none; border-radius: 5px; margin-top: 20px;">{{token}}</small>

            <p style="font-size: 16px; line-height: 1.5;">If you have any questions, please contact our support team.</p>

            <div style="font-size: 12px; color: #888; margin-top: 20px;">
                <p>The Traccebox Team</p>
            </div>
        </div>
    </body>
    </html>